# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Joakim\Google Drev\Skole\CPHBUS - Datamatiker\3. Semester\Flows\flow 1\week 4\01_Monday\CA-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
